@model List<Courier_Management_System.Models.Domain.Shipment>

@{
}

<div class="text-center">
    <h1 class="display-4">Shipment Management Panel</h1>
    <small style="opacity:0.6">Courier Management System </small>
    <hr />
</div>

<h1>Shipment Information</h1>

<table class="table">
    <thead>
        <tr>
            <th>Consignment ID</th>
            <th>Shipper Name</th>
            <th>Shipper Address</th>
            <th>Shipper Email</th>
            <th>Receiver Name</th>
            <th>Receiver Address</th>
            <th>Receiver Email</th>
            <th>Shipment Status</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var shipmentItem in Model)
        {
            <tr>
                <td>@shipmentItem.Id</td>
                <td>@shipmentItem.ShipperName</td>
                <td>@shipmentItem.ShipperAddress</td>
                <td>@shipmentItem.ShipperEmail</td>
                <td>@shipmentItem.ReceiverName</td>
                <td>@shipmentItem.ReceiverAddress</td>
                <td>@shipmentItem.ReceiverEmail</td>
                <td>@shipmentItem.ShipmentStatus</td>
                <td>
                   <button class="btn btn-warning">
                        <a href="/Shipment/View/@shipmentItem.Id" style="text-decoration:none;color:black">Manage</a>
                   </button>  
               </td>
            </tr>
        }
    </tbody>


</table>

<div>
    <button class="btn btn-primary"><a asp-controller="Home" asp-action="Index" style="text-decoration:none;color:whitesmoke">Back To Admin Panel</a></button>
</div>

<br />
<br />

<form asp-controller="Shipment" asp-action="SearchShipment" method="get">
    <div class="form-group">
        <label for="shipmentId">Consignment ID</label>
        <input type="text" class="form-control" id="shipmentId" name="id" placeholder="6362a480-c915-4d38-a246-ce30697a81f1">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>